<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center; overflow: hidden;">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img style="position:relative;right:-78px; bottom:115px;" alt="Chiller" src="assets/img/pipe_down.svg">
  <img style="position:relative;right:-60px; bottom:100px;" width="20px" alt="Chiller" src="assets/img/joint4.svg">
  <img style="position:relative;bottom:100px;right:-55px;" width="450px" alt="Chiller" src="assets/img/pipe_left.svg">
  <img style="position:relative;right:5px;"width="300" alt="Chiller" src="assets/img/chiller.svg">
  <img style="position:relative;left:-35px; bottom:100px;" width="450px" alt="Chiller" src="assets/img/pipe_left.svg">
  <img style="position:relative;left:-45px; bottom:100px;" width="20px"alt="Chiller" src="assets/img/joint.svg">
  <img style="position:relative;left:-65px; bottom:115px;" alt="Chiller" src="assets/img/pipe_down.svg">
  

  <img style="position:relative;bottom:405px;right:20px;" width="450px" alt="Chiller" src="assets/img/pipe_left.svg">
  <img style="position:relative;bottom:403px;right:485px;" width="20px" alt="Chiller" src="assets/img/joint1.svg">
  <img style="position:relative;top:-52px;right:515px;"height="350px" alt="Chiller" src="assets/img/pipe_down.svg">
  <img style="position:relative;bottom:405px;left:120px;" width="450px" alt="Chiller" src="assets/img/pipe_left.svg">
  <img style="position:relative;bottom:403px;left:115px;" width="20px" alt="Chiller" src="assets/img/joint2.svg">
  <table style="position: relative;bottom:370px;left:210px;border-spacing:5px;" border="0" width="75%" height="75%">
  <tr><td><strong> Mode</strong></td>
  <td style="color: sandybrown;"><strong>Local</strong></td>
  </tr>
  <tr><td><strong>(KVA)</strong></td>
      <td style="color: sandybrown"><strong>58</strong></td>
  </tr>
  <tr><td><strong>TR</strong></td>
      <td style="color: sandybrown"><strong>100.2</strong></td>
  </tr>  
  <tr><td><strong>KW/TR</strong></td>
        <td style="color: sandybrown"><strong>0.6</strong></td>
  </tr>
  <tr><td><strong>Eva. App.</strong></td>
    <td style="color: sandybrown"><strong>3</strong></td>
  </tr>
  <tr><td><strong>Con. App.</strong></td>
    <td style="color: sandybrown"><strong>12</strong></td>
  </tr>
  <tr><td><strong>KW/TR(Plant)</strong></td>
    <td style="color: sandybrown"><strong>0.7</strong></td>
  </tr>
  <tr><td colspan="2">
    <strong><sup>(KVAh)T|W|M</sup><div style="color:sandybrown">
    823|7647|26636</div></strong>
  </td></tr>
  <tr><td colspan="2">
      <strong><sup>Hrs. T|W|M</sup><div style="color:sandybrown">
      12/14|109/134|371/470</div></strong>
  </td></tr>
  </table>
  <img style="position:relative;bottom:678px;left:1070px;"height="350px" alt="Chiller" src="assets/img/pipe_down.svg">

  <img style="position:relative;bottom:658px;right:530px;" width="450px" alt="Chiller" src="assets/img/pipe_left_bottom.svg">
  <img style="position:relative;bottom:648px;right:535px;" width="35 px"alt="Chiller" src="assets/img/joint5.svg">
  <img style="position:relative;bottom:658px;right:535px;" width="450px" alt="Chiller" src="assets/img/pipe_left_bottom.svg">
  <img style="position:relative;bottom:680px;right:-376px;" width="450px" alt="Chiller" src="assets/img/pipe_middle_bottom.svg">
  <img style="position:relative;bottom:680px;right:-370px;" width="450px" alt="Chiller" src="assets/img/pipe_left_bottom.svg">
</div>


<router-outlet></router-outlet>
